
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* img-info-location */

.container-img{
    max-width: 960px;
}

.title-img {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
    small {
        display: block;
        font-size: 15px;
        padding-top: 8px;
        color: gray;
    }
}

.right-row {
    td {
        padding: 10px;
    }
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 0px auto;
    .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f2bd";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
    .avatar-preview {
        width: 120px;
        height: 120px;
        left: 52px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.seat-options {
    height: 50px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

.selected {
    border-bottom: 1px solid orangered;
}

.seat-cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    -webkit-user-drag: none;
}

.cell-selected {
    background: blue;
}

.door {
    background-color: #757575 !important;
}

.path {
    background-color: #af5c5c !important;
}

.freespace {
    background-color: #5caf8d !important;
}

.area-color {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.area-list {
    list-style: none;
}

.seat-cell a {
    display:block;
    width:100%;
    height: 100%;
}

.seat-avatar {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 5px;
    position: relative;
    img {
        border-radius: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.r-0 {
    right: 0;
}

@mixin minWidth($param) {
    min-width: $param * 50px;
}

.col-min-1 {
    @include minWidth(1);
}

.col-min-2 {
    @include minWidth(2);
}

.col-min-3 {
    @include minWidth(3);
}

.col-min-4 {
    @include minWidth(4);
}

.col-min-5 {
    @include minWidth(5);
}

.col-min-6 {
    @include minWidth(6);
}

.right-schedule {
    max-height: 600px;
    overflow: scroll;
}

.left-schedule {
    max-height: 587px;
    overflow: hidden;
}

.right-table {
    width: 1000px;
}

.word-break-all {
    word-break: break-all;
}

.overflow-auto {
    overflow: auto;
}

.table-wrapper {
    overflow-x:scroll;
    overflow-y:visible;
    margin-left: 250px;
}

.schedule {
    position: relative;
}

.table-row th {
    font-weight: normal;
    border: 1px solid black;
}

.img-selected {
    width: 100%;
    height: 100%;
    background-color: #1d83cea3;
    position: absolute;
    z-index: 999;
}

.bg-danger-light {
    background-color: #e9490966
}

.scroll {
    height: 20px;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-scroll {
    overflow: scroll;
}

.design-section {
    height: 600px;
}

.p-25 {
    padding: 25%;
}

.line-height-5 {
    line-height: 5;
}

.cell-row {
    padding-right: 15px;
    padding-left: 15px;
}
