img {
    max-width: 100%;
}
img.workspace_image {
    height: 250px;
    object-fit: cover;
}
#m_aside_left #m_ver_menu .color-timesheet {
    color: #27ff09;
    font-weight: bold;
    font-size: 15px;
}
#m_aside_left #m_ver_menu .color-manager {
    color: white;
}
#m_header_nav .size-avatar {
    height: 41px;
    border-radius: 50%;
}
#m_header_nav .size-avatar-2 {
    height: 70px;
    border-radius: 50%;
}
.m-portlet .m-portlet__body .m-section__content .size-workspace {
    width: 150px;
}
.fc-sun {
    background-color: #f6f6f6;
}
.fc-sat {
    background-color: #f6f6f6;
}
.popover {
    font-size: 14px !important;
    box-shadow: 0 0 5px #5867dd;
}
#hello {
    position: absolute;
    bottom: 120%;
    z-index: 2;
}
#hello::before {
    border-top: 30px solid #fffaf0;
    border-right: 10px solid transparent;
    content: '';
    width: 0;
    height: 0px;
    top: 100%;
    left: 70px;
    display: block;
    position: absolute;
    z-index: 999;
}
#hello span {
    box-shadow: 0 3px 20px 0 rgba(113,106,202,.17)!important;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
    width: 300px;
    border: 1px solid #dcdcdc;
    border-radius: 25px;
    background: #fff;
    color: cadetblue ;
}
.seat {
    width: 200px;
    height: 100%;
    line-height: 50px;
    background-color: #eef9f5;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.seat-name {
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-filter: invert(1) grayscale(1);
}
.disabled {
    background-color: #e6e6e6;
}

.all_seat .ui-selecting {
    background: #14f3d4;
}
.all_seat .ui-selected {
    background: #14f3d4;
}
.all_seat {
    list-style-type: none;
    margin: 80px auto;
    padding: 0px 40px;
    width: max-content;
}
.all_seat li {
    margin: 3px;
    padding: 0.4em;
    font-size: 1.4em;
    height: 18px;
}
.workspace {
    overflow: scroll;
}
.form-workspace {
    display: none;
}
#noteLocation {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 10px;
}
.boder {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #dcdcdc;
}
.modal-title {
    text-align: center;
}
#imagePreview {
    background-image: url(../images/default.jpg);
}
#create-location {
    margin: 0px auto;
}
#save-create-location {
    text-align: right;
    margin-top:  15px;
}
.button-hover {
    position: relative!important;
}
#check-avatar {
    width: 40px;
}
#m_modal_4 {
    display: none;
}
#image-display {
    width: 600px;
    height: 340px;
    overflow: hidden;
    object-fit: cover;
}
.m-menu__link-text {
    font-size: 1.02em!important;
}
.m-card-user.m-card-user--sm .m-card-user__pic img {
    max-width: 40px!important;
    height: 40px!important;
    overflow: hidden;
    object-fit: cover;
}
#input-color {
    position: relative;
    right: 49px;
    top: 8px;
}

tr td {
    border: 1px solid black;
}
